# Copyright (c) 2026 Accenture, All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# =========================================================================
#  DO NOT ENTER SECRETS IN THIS FILE. THIS IS A SAMPLE FILE
#  
#  Horizon SDV Configuration file.
#  
#  Create a new file with name "terraform.tfvars" in the current directory.
#  Enter the Secrets and other required details in "terraform.tfvars".
# =========================================================================

# GCP Configuration 
sdv_gcp_project_id       = "<REQUIRED>"
sdv_gcp_region           = "europe-west1"
sdv_gcp_zone             = "europe-west1-d"
sdv_gcp_compute_sa_email = "<REQUIRED>"
sdv_gcp_backend_bucket   = "<REQUIRED>"

#  Environment Metadata 
sdv_env_name        = "<REQUIRED>"
sdv_root_domain     = "<REQUIRED>"

# GitHub Integration
sdv_github_repo_owner  = "<REQUIRED>"
sdv_github_repo_name   = "<REQUIRED>"
sdv_github_repo_branch = "<REQUIRED>"

# GitHub Auth type
# Select `app` or `pat`
github_auth_method = "<REQUIRED>"

# GitHub Personal Access Token (PAT)
# Replace with actual value if selected auth type is `pat`
sdv_github_pat         = "<OPTIONAL>"

# GitHub App Credentials
# Replace with actual value if selected auth type is `app`
sdv_github_app_id         = "<OPTIONAL>"
sdv_github_app_install_id = "<OPTIONAL>"

# Generated as a part of GitHub App creation.
# Replace with actual value if selected auth type is `app`
sdv_github_app_private_key = <<EOT
-----BEGIN RSA PRIVATE KEY-----
... paste content here ...
-----END RSA PRIVATE KEY-----
EOT

# PKCS8 Format of the GitHub App private key above
# Replace with actual value if selected auth type is `app`
# To generate: openssl pkcs8 -topk8 -inform PEM -outform PEM -nocrypt -in key.pem -out key.pkcs8.pem
sdv_github_app_private_key_pkcs8 = <<EOT
-----BEGIN PRIVATE KEY-----
... paste content here ...
-----END PRIVATE KEY-----
EOT

# Required Admin Secrets
# These are NOT auto-generated by Terraform and must be provided.

# Keycloak Admin Password (Plain text)
sdv_keycloak_admin_password = "<REQUIRED>"

# Keycloak Horizon Realm Admin Password (Plain text)
sdv_keycloak_horizon_admin_password = "<REQUIRED>"

# Optional Overrides
enable_arm64 = true

# To set secret manually, uncomment required secret
# s5 : Argo CD Admin
# s6  : Jenkins Admin
# s9  : Gerrit Admin
# s12 : Grafana Admin
# s14 : PostgreSQL Admin
# s17 : MCP Gateway Registry Admin

manual_secrets = {
#   s5 = "Change_Me_123"
#   s6  = "Change_Me_123"
#   s9  = "Change_Me_123"
#   s12 = "Change_Me_123"
#   s14 = "Change_Me_123"
#   s17 = "Change_Me_123"
}